* {
    font-family: "DejaVu Sans Mono";
    font-size: 12px;
}

window#waybar {
    background: rgba(30, 30, 30, 0.95);
}

#workspaces button {
    padding: 0 8px;
}

#clock,
#network,
#cpu,
#memory,
#pulseaudio,
#battery,
#tray {
    padding: 0 10px;
}